{% extends "base.html" %}

{% block content %}
<article class="grid">
    <div>
        <hgroup>
            <h1>Iniciar Sesión</h1>
            <h2>Accede a tu cuenta para continuar.</h2>
        </hgroup>
        <form method="POST" action="{{ url_for('auth.login') }}">
            {{ form.hidden_tag() }}
            <label for="email">{{ form.email.label }}</label>
            {{ form.email(size=32, placeholder=form.email.label.text) }}
            
            <label for="password">{{ form.password.label }}</label>
            {{ form.password(size=32, placeholder=form.password.label.text) }}
            
            <label for="remember_me">{{ form.remember_me() }} {{ form.remember_me.label }}</label>
            
            <button type="submit">Iniciar Sesión</button>
        </form>
    </div>
    <div></div>
</article>
{% endblock %}