{% extends "base.html" %}

{% block content %}
<article class="grid">
    <div>
        <hgroup>
            <h1>Crear una Cuenta</h1>
            <h2>Regístrate para guardar tu progreso.</h2>
        </hgroup>
        <form method="POST" action="{{ url_for('auth.register') }}">
            {{ form.hidden_tag() }}
            <label for="email">{{ form.email.label }}</label>
            {{ form.email(size=32, placeholder=form.email.label.text) }}
            
            <label for="password">{{ form.password.label }}</label>
            {{ form.password(size=32, placeholder=form.password.label.text) }}
            
            <label for="password2">{{ form.password2.label }}</label>
            {{ form.password2(size=32, placeholder=form.password2.label.text) }}
            
            <button type="submit">Registrarse</button>
        </form>
    </div>
    <div></div>
</article>
{% endblock %}