# Entornos virtuales
venv/
.venv/
env/

# Archivos de configuración local (¡MUY IMPORTANTE!)
.env

# Bases de datos de desarrollo
*.db
*.sqlite3

# Caché de Python
__pycache__/
*.pyc

# Archivos de VS Code / Codium
.vscode/