{% extends "base.html" %}
{% from "core/_macros.html" import render_article_card %}

{% block content %}
<div class="container">
    <header>
        <h1>{{ _('Articles about') }} '{{ tag.name }}'</h1>
    </header>

    <section id="article-list">
        {% if articles %}
            <div class="articles-list">
                {% for article in articles %}
                    {{ render_article_card(article) }}
                {% endfor %}
            </div>
        {% else %}
            <p>{{ _('No articles available for this tag.') }}</p>
        {% endif %}
    </section>
</div>
{% endblock %}