{% extends "base.html" %}

{% block content %}
<article class="grid">
    <div>
        <hgroup>
            <h1>Enviar un Artículo</h1>
            <h2>Pega la URL de un artículo para que lo procesemos.</h2>
        </hgroup>
        <form method="POST" action="{{ url_for('core.submit_article') }}">
            {{ form.hidden_tag() }}
            <label for="url">{{ form.url.label }}</label>
            {{ form.url(placeholder="https://ejemplo.com/mi-articulo-interesante") }}
            <button type="submit">Enviar URL</button>
        </form>
    </div>
    <div></div>
</article>
{% endblock %}