{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1>Enviar un Nuevo Artículo</h1>
            <p class="lead">Introduce la URL del artículo que deseas procesar.</p>
            
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }} {# Token CSRF y otros campos ocultos #}
                
                <div class="mb-3">
                    {{ form.url.label(class="form-label") }}
                    {{ form.url(class="form-control" + (" is-invalid" if form.url.errors else ""), size=64) }}
                    {% if form.url.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.url.errors %}
                                <span>{{ error }}</span><br>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <p>{{ form.submit(class="btn btn-primary") }}</p>
            </form>
        </div>
    </div>
</div>
{% endblock %}